@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-Light.eot");
  src: url("fonts/roboto/subset-Roboto-Light.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-Light.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-Light.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-Light.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-BoldItalic.eot");
  src: url("fonts/roboto/subset-Roboto-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-BoldItalic.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-BoldItalic.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-BoldItalic.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-BoldItalic.svg#Roboto-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-Thin.eot");
  src: url("fonts/roboto/subset-Roboto-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-Thin.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-Thin.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-Thin.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-BlackItalic.eot");
  src: url("fonts/roboto/subset-Roboto-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-BlackItalic.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-BlackItalic.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-BlackItalic.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-BlackItalic.svg#Roboto-BlackItalic")
      format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-Medium.eot");
  src: url("fonts/roboto/subset-Roboto-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-Medium.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-Medium.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-Medium.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-LightItalic.eot");
  src: url("fonts/roboto/subset-Roboto-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-LightItalic.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-LightItalic.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-LightItalic.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-LightItalic.svg#Roboto-LightItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-Bold.eot");
  src: url("fonts/roboto/subset-Roboto-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-Bold.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-Bold.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-Bold.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-ThinItalic.eot");
  src: url("fonts/roboto/subset-Roboto-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-ThinItalic.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-ThinItalic.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-ThinItalic.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-ThinItalic.svg#Roboto-ThinItalic")
      format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-Italic.eot");
  src: url("fonts/roboto/subset-Roboto-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-Italic.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-Italic.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-Italic.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-Italic.svg#Roboto-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-MediumItalic.eot");
  src: url("fonts/roboto/subset-Roboto-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-MediumItalic.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-MediumItalic.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-MediumItalic.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-MediumItalic.svg#Roboto-MediumItalic")
      format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-Regular.eot");
  src: url("fonts/roboto/subset-Roboto-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-Regular.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-Regular.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-Regular.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/subset-Roboto-Black.eot");
  src: url("fonts/roboto/subset-Roboto-Black.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/subset-Roboto-Black.woff2") format("woff2"),
    url("fonts/roboto/subset-Roboto-Black.woff") format("woff"),
    url("fonts/roboto/subset-Roboto-Black.ttf") format("truetype"),
    url("fonts/roboto/subset-Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.button {
  box-sizing: border-box;
  background-color: #34547a;
  width: 225px;
  height: 65px;
  padding-top: 20px;
  margin-top: 54px;
  margin-bottom: 141px;
}
.button_text {
  vertical-align: middle;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0px;

  color: #ffffff;
}
.block1 {
  padding-top: 79px;
  padding-left: 399px;
  padding-bottom: 141px;
  box-sizing: border-box;
  width: 1920px;
  height: 700px;
  margin-left: 0px;
  margin-top: 0px;
  background-color: #eeeff1;
}
.navact {
  text-transform: uppercase;
  margin-right: 42px;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  letter-spacing: 0.1em;
  color: #34547a;
}
.nav {
  text-transform: uppercase;
  margin-right: 42px;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  letter-spacing: 0.1em;
  color: #000000;
}
h1 {
  margin-top: 160px;
  margin-bottom: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  align-items: center;
  color: #000000;
}
.text {
  width: 540px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #727272;
}
.block2 {
  padding-top: 112px;
  padding-left: 690px;
  box-sizing: border-box;
  width: 1920px;
  height: 359px;
  margin-left: 0px;
  margin-top: 0px;
  background-color: #fff;
}
h2 {
  margin-bottom: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.block3 {
  box-sizing: border-box;
  padding-left: 409px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1920px;
  height: 250px;
  background-color: #34547a;
}
.block3in {
  display: inline-block;
}
.block3in img {
  display: inline-block;
}
.block3text {
  margin-left: 25px;
  margin-right: 45px;
  display: inline-block;
}
.block3text h3 {
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  align-items: center;
  color: #ffffff;
}
.block3text p {
  margin-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
